.starships-image {
    width: 500px;
}

@media screen and (max-width: 1300px)  {
    .starships-image {
        width: 400px;
    }
}

@media screen and (max-width: 500px)  {
    .starships-image {
        width: 300px;
    }
}