.films-contener {
    width: 500px;
}

@media screen and (max-width: 550px)  {
    .films-contener {
        width: 400px;
    }
}

@media screen and (max-width: 500px)  {
    .films-contener {
        width: 300px;
    }
    .films-image {
        width: 300px;
    }
}